<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">

    {{ partial "meta.html" . }}
    {{ $options := dict "inlineImports" true }}
    {{ $isProd :=  eq hugo.Environment "production"}}
    {{ $styles := resources.Get "/css/styles.css" }}
    {{ $styles = $styles | resources.PostCSS $options }}
    {{ if $isProd }}
    {{ $styles = $styles | minify | fingerprint }}
    {{ end }}
    <link href="{{ $styles.RelPermalink }}" rel="stylesheet" />
    <base href="{{ .Site.BaseURL }}">
    <title> {{ .Title }} : spf13.com </title>
    <link rel="canonical" href="{{ .Permalink }}">
    {{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}

    {{ partial "head_includes.html" . }}
    {{ partial "head.html" . }}
</head>
<body lang="en">
