{{ define "main" }}
    <main aria-role="main">
      <header class="bg-gray-900 homepage-header text-4xl text-white">
        <h1>{{.Site.Title}}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
      </header>
      <div class="homepage-content text-center">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}
      </div>

      {{ range  .Site.RegularPages }}
      <article class="text-center">
        <a href="{{ .Permalink }}" class="hover:underline no-underline text-black">
          <li class="text-2xl" itemprop="headline">{{ .Title }}
            <ul>
              <li class="entry-summary">{{ .Summary }}</li>
            </ul>
          </li>
        </a>
      </article>
      {{ end }}

    </main>
{{ end }}
